.container {
    display: grid;
    grid-template-columns: 1fr repeat(4,min-content) max-content;
    column-gap: 30px;
    height: 100%;
    align-items: center;
}


.section_wrapper {
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.navlink_container {
    position: relative;
    display: flex;
    justify-content: center;
}

.polygonImg {
    position: absolute;
    bottom: -8px;
}