* {
  padding: 0;
  margin: 0;
  border: 0;
} 

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

.center {
  display: grid;
  place-items: center;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

:root {
  --navbar-height: 13vh;
  --primary-gradient: linear-gradient(90deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  --primary-color: #7918F2;
}


